.logo{
	width: auto;
	height: auto;
}


.nav{
  	background-color: black;
}

.nav a{
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 112.5%;
}

.nav a:hover{
  background-color: #ddd;
  color: black;
}

.nav a.active{
	background-color:#C0C0C0;
}

.container {  
 display:grid;
 grid-template-columns:3fr 1fr;
 grid-template-rows:0.5fr 3fr 3fr 0.25fr;
 grid-template-areas: "header header"
 					  "mainarticle sidebar"
 					  "secondarticle advert"
 					  "footer footer";
 grid-gap: 1em;
 padding: 1em; 
}

header{
	grid-area: header;
	background-color: black;

}

.mainarticle {
	grid-area: mainarticle;
}

.secondarticle{
	grid-area:secondarticle;

}

.sidebar {
	grid-area: sidebar;
	height: auto;
	width: auto;
}

.footer {
	grid-area: footer;
	font-size: 20px;
	color:white;
	background-color: black;
}



